@import "tailwindcss";

.rgb-text {
  background: linear-gradient(
    90deg,
    #ff3cac 0%,
    #784ba0 30%,
    #2b86c5 60%,
    #00ffb2 100%
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rgbShift 3.5s linear infinite;
}

.rainbow-text {
  background: linear-gradient(
    90deg,
    #ff3cac 0%,
    #784ba0 30%,
    #2b86c5 60%,
    #00ffb2 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes rgbShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
